.coffee-info-box {
    padding: 10px 10px;
    background-color: #121212;
}

.coffee-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#coffee-image {
    width: 95%;
    height: 200px;
    object-fit: cover;
}

.coffee-size-info-box {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    background-color: #121212;
}

.coffee-size-title {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.coffee-size-item-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #121212;
    width: 50%;
}

.coffee-size-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coffee-size-checkbox {

}

.coffee-size-item-price {
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.coffee-select-info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.coffee-select-info-title {

}

.coffee-select-list {
    width: 100%;
    overflow-y: scroll;
    min-height: 150px;
    max-height: 150px;
}

.coffee-select-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    margin: 1px 0px;
}

.coffee-select-list-item-line {
    width: 100%;
    height: 2px;
    background-color: #121212;
}

.coffee-select-list-total {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 5px 5px;
}
